.alertUser {
    width: max-content;
    height: max-content;
    position: absolute;
    left: 50%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgba(2, 2, 2, 0.473);
    color: #fff;
    transform: translate(-50%,0);
    top: '-200px';
    transition: .5s;
    /* display: none; */
}
.alertUser .row {
    margin: 20px 30px;
    justify-content: space-around;
}
.alertUser .btn {
    padding: 15px 20px;
}