* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.container {
    width: 85%;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.between {
    justify-content: space-between;
}

.header {
    width: 100%;
    height: 70px;
    background-color: rgb(40, 40, 235);
    padding: 10px 0;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.btn {
    padding: 8px;
    border-radius: 10px;
    border: none;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 3px 0px #000;
    background-color: #f39801;
}
.btn:hover {
    background: #f1c40f;
}
.btn:active {
    box-shadow: inset 0 0 3px 0px #000;
}

.chat-box {
    width: 70%;
    height: 70vh;
    margin: 10px auto; 
    border: 3px solid #00f;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
}
.msgItem {
    width: 100%;
    height: max-content;
    margin: 5px 0;
}
.msgItem .row{
    align-items: flex-end;
}

.msgItem img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    margin: 0 5px;
}
.msgItem.req .row{
    justify-content: end;
}

.msgBox {
    max-width: 87%;
    padding: 10px 15px;
    color: #fff;
    border-radius: 15px 15px 15px 0;
    background-color: rgb(28, 24, 248);
    word-wrap: break-word;
}
.msgBox .userName {
    color: #f1c40f;
}
.msgBox .msg {
    width: 100%;
    word-wrap: break-word;
}
.msgItem.req .msgBox {
    border-radius: 15px 15px 0 15px;
    background-color: rgb(16, 29, 88);
}





.msgSender {
    width: 70%;
    margin: 10px auto;
}
.msgSender input[type="text"] {
    width: 80%;
    border: 1px solid #00f;
    padding: 10px;
    border-radius: 8px;
    margin-right: 5px;
    font-size: 18px;
}
.msgSender input[type="submit"] {
    width: 19%;
    border: 1px solid #00f;
    padding: 10px;
    border-radius: 8px;
}